* {
	margin: 0px;
	padding: 0px;
}
body {
	background: #111111;
	color: #f0f0f0;
	font-size: 14px;
}
:root {
	--status-height: 32px;
	--loading-width: 100vw;
	--loading-margin-top: 0px;
	--loading-scale: 50%;
	--loading-color: #cccccc;
}
#status {
	width: 100%;
	height: var(--status-height);
	background: rgba(from #333333 r g b / 0.8);
	position: fixed;
	display: flex;
	align-items: center;
	font-size: 13px;
	transition: transform 0.2s;
	left: 0px;
	top: 0px;
}
#status.status_hidden {
	transform: translateY(calc(-1 * var(--status-height)));
}
#status_current_dir {
	padding: 0px 8px;
	border-right: 1px solid #666666;
	line-height: var(--status-height);
	white-space: nowrap;
	cursor: pointer;
}
#status_current_dir:hover, #status_file_name:hover {
	background: rgba(from #444444 r g b / 0.8);
}
#status_current_dir::before {
	content: '';
	width: 16px;
	height: 12px;
	margin-right: 8px;
	background: linear-gradient(0deg, #ffffff 0%, #ffffff 20%,
		transparent 20%, transparent 40%, #ffffff 40%, #ffffff 60%,
		transparent 60%, transparent 80%, #ffffff 80%, #ffffff 100%);
	vertical-align: middle;
	display: inline-block;
}
.status_subdir_num {
	margin-left: 4px;
	font-size: 12px;
}
#status_file_name {
	padding: 0px 8px;
	border-right: 1px solid #666666;
	line-height: var(--status-height);
	white-space: nowrap;
	cursor: pointer;
}
#status_file_props {
	padding: 0px 8px;
	line-height: var(--status-height);
	white-space: nowrap;
	overflow: hidden;
}
#status_menu {
	flex-grow: 1;
	display: flex;
	justify-content: right;
	white-space: nowrap;
}
.status_menu_label {
	padding: 0px 6px;
	line-height: var(--status-height);
	cursor: pointer;
}
.status_menu_label:hover, .status_menu_label.menu_label_open {
	background: rgba(from #444444 r g b / 0.8);
}
.status_menu_label::before {
	content: '';
	width: 10px;
	height: 6px;
	margin-right: 6px;
	background: #ffffff;
	clip-path: shape(from 0% 0%, line to 100% 0%, line to 50% 100%, close);
	vertical-align: middle;
	display: inline-block;

}

.menu_body {
	padding: 4px;
	background: rgba(from #444444 r g b / 0.9);
	color: #ffffff;
	font-size: 14px;
}
.menu_body div {
	padding: 0px 16px 0px 28px;
	line-height: 28px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
}
.menu_body div:hover {
	background: oklch(from #444444 calc(l + 0.2) c h / 0.5);
}
.menu_body div.menu_item_checked::before {
	content: '';
	width: 12px;
	height: 12px;
	background: #ffffff;
	clip-path: shape(from 10% 40%, line to 40% 70%, line to 90% 10%, line to 100% 20%, line to 40% 90%, line to 0% 50%, close);
	display: inline-block;
	position: absolute;
	left: 8px;
	top: 8px;
}
.menu_body div.menu_item_disabled {
	color: #999999;
	cursor: default;
}
.menu_body div.menu_item_disabled:hover {
	background: transparent;
}
.menu_body div.menu_partition {
	height: 4px;
	margin-top: 4px;
	border-top: 1px solid #666666;
}
#main_menu, #sort_menu {
	border: 0px;
	position: fixed;
	position-area: bottom span-left;
}

#rename {
	border: 1px solid #999999;
	background: rgba(from #333333 r g b / 0.8);
	color: #ffffff;
	position: fixed;
	position-area: bottom span-right;
}
#rename > div {
	display: none;
}
#rename > div.rename_displayed {
	display: block;
}
#rename p {
	margin: 8px;
	font-size: 13px;
}
#rename input {
	width: 200px;
	padding: 4px;
	border: 0px;
	background: #007788;
	color: #ffffff;
	font-size: 14px;
	outline: 0px;
}
#rename input:disabled {
	background: #666666;
}

#filelist {
	padding-top: var(--status-height);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	user-select: none;
	--loading-margin-top: 72px;
}
#filelist li {
	margin: 4px;
	border: 2px solid transparent;
}
#filelist li.filelist_selected {
	border: 2px solid #00ffff;
}
#filelist img {
	vertical-align: middle;
}

#viewer {
	width: 100vw;
	height: 100vh;
	background: #111111;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0px;
	top: 0px;
}
#viewer img {
	max-width: 100vw;
	max-height: 100vh;
}

#dirlist {
	width: 360px;
	height: 100vh;
	max-width: unset;
	max-height: unset;
	border: 0px;
	background: rgba(from #444444 r g b / 0.9);
	color: #ffffff;
	overflow-x: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	--loading-width: 360px;
	--loading-margin-top: 64px;
}
#dirlist_msg {
	margin: 12px 8px;
	font-size: 13px;
}
#dirlist_curr {
	margin: 0px 8px 8px;
	padding: 4px 8px;
	border-radius: 8px;
	background: #007788;
	font-size: 12px;
	line-height: 16px;
	line-break: anywhere;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
#dirlist_curr:hover {
	background: oklch(from #007788 calc(l + 0.05) c h);
}
#dirlist_curr.dirlist_curr_disabled, #dirlist_curr.dirlist_curr_disabled:hover {
	background: #666666;
	cursor: default;
}
#dirlist_dir_block, #dirlist_subdir_block {
	display: none;
	--loading-color: #cccccc;
	--loading-margin-top: 0px;
	--loading-scale: 50%;
}
#dirlist_dir_block.dirlist_block_displayed, #dirlist_subdir_block.dirlist_block_displayed {
	display: block;
}
#dirlist ul {
	border-top: 1px solid #555555;
}
#dirlist li {
	padding: 8px;
	border-bottom: 1px solid #555555;
	line-height: 18px;
	line-break: anywhere;
	cursor: pointer;
}
/*.dirlist_dir_title {

}*/
.dirlist_dir_path {
	font-size: 12px;
	color: #00bb88;
}
.dirlist_subdir_num {
	margin-left: 8px;
	font-size: 12px;
}
#dirlist li:hover {
	background: oklch(from #444444 calc(l + 0.2) c h / 0.5);
}
#dirlist li.dirlist_subdir_selected {
	background: #00bb88;
}

.loading {
	position: relative;
}
.loading::before {
	content: '';
	width: var(--loading-width);
	height: 100%;
	backdrop-filter: brightness(0.6);
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1;
}
.loading::after {
	content: '';
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: conic-gradient(transparent 0deg, transparent var(--loading-angle), var(--loading-color) var(--loading-angle), var(--loading-color) calc(360deg - var(--loading-angle)), transparent calc(360deg - var(--loading-angle)), transparent 360deg);
	clip-path: path(evenodd, 'M 0 0 L 100 0 L 100 100 L 0 100 L 0 0 L 50 10 A 40 40 0 1 0 50.001 10 Z');
	animation: 1s linear infinite loading;
	position: fixed;
	left: calc(calc(var(--loading-width) / 2) - 50px);
	top: var(--loading-margin-top);
	z-index: 1;
}
@property --loading-angle {
	syntax: '<angle>';
	initial-value: 0deg;
	inherits: false;
}
@keyframes loading {
	0% {
		--loading-angle: 15deg;
		transform: scale(var(--loading-scale)) rotate(0deg);
	}
	50% {
		--loading-angle: 165deg;
		transform: scale(var(--loading-scale)) rotate(180deg);
	}
	100% {
		--loading-angle: 15deg;
		transform: scale(var(--loading-scale)) rotate(360deg);
	}
}
